version: '3.1'

services:

  mongo:
    image: mongo
    restart: always
    
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: toor
    ports:
      - 27017:27017
    volumes:
      - ./db:/data/db
